@font-face {
  font-family: 'ProximaNova';
  src: url('assets/fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
  url('assets/fonts/ProximaNova/ProximaNova-Light.ttf')  format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('assets/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
  url('assets/fonts/ProximaNova/ProximaNova-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('assets/fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
  url('assets/fonts/ProximaNova/ProximaNova-Semibold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('assets/fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
  url('assets/fonts/ProximaNova/ProximaNova-Bold.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/Helvetica/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Helvetica/Helvetica-Light.woff') format('woff'),
  url('assets/fonts/Helvetica/Helvetica-Light.ttf')  format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/Helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Helvetica/Helvetica.woff') format('woff'),
  url('assets/fonts/Helvetica/Helvetica.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/Helvetica/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Helvetica/Helvetica-Bold.woff') format('woff'),
  url('assets/fonts/Helvetica/Helvetica-Bold.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}
