@import "variables";

@mixin clear {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

@mixin button {
  box-shadow: none;
  transition: $transition-base;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  padding: .8em 1em;
  font-size: 1.3em;
  font-weight: 400;
  font-family: $font-family-second;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

@mixin button-filled {
  background: $main-second-color;
  color: $font-color-inverse;

  &:hover {
    background: $main-second-color-dark;
  }
}
