// Colors
$main-first-color: #4A4F65;
$main-first-color-dark: #2E3244;
$main-second-color: #239AE8;
$main-second-color-dark: #0f8be8;
$main-third-color: #BCC1D8;
$main-third-color-dark: #585C6B;
$main-four-color: #1C1F2B;
$main-fifth-color: #57CA63;
$main-six-color: #D8D8D8;

//Typography
$font-color: $main-third-color-dark;
$font-color-inverse: #fff;
$font-family: 'Helvetica', sans-serif;
$font-family-second: 'ProximaNova', sans-serif;
$font-size-normal: 14px;
$font-size-h1: 2.2em;
$font-size-h2: 2em;
$font-size-h3: 1.95em;
$font-size-h4: 1.71em;
$font-size-h5: 1.4em;
$font-size-h6: 1.12em;
$line-height-normal: 1.5em;
$headings-font-weight: 400;
$headings-line-height: normal;
$headings-color: $main-first-color;

// Other
$body-bg: #30384D;
$transition-base: all .25s;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
