@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'fonts';

/* -------------- Global -------------- */
body {
  background: $body-bg;
  font-family: $font-family;
  font-size: $font-size-normal;
  font-weight: 400;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="range"]),
textarea,
.input {
  font-family: $font-family;
  border: none;
  box-shadow: none;
  color: $font-color;
  padding: 1.1em 1.24em;
  font-size: 1em;
  font-weight: 300;
  box-sizing: border-box;
  background: #252637;
  border-radius: 6px;

  &.ng-invalid.ng-touched {
    border-color: red;
  }
}

textarea {
  max-height: 250px;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus:not([type="range"]):focus,
textarea:focus {
  box-shadow: inset 0 0 13px -4px rgba($main-second-color, .3);
  outline: none;
}

app-auth, app-header, app-login, app-spinner {
  display: block;
}


/* -------------- 2. Typography -------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  font-family: $font-family-second;

  &.inverse {
    color: $font-color-inverse;
  }
}

h1 { font-size: $font-size-h1; }

p {
  font-size: $font-size-normal;
  color: $font-color;
  line-height: $line-height-normal;
  margin-bottom: 1.5em;

  &.inverse {
    color: $font-color-inverse;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}
