<ng-container *ngIf="!secondStep">
  <p class="description">
    Enter the credentials you <br>
    used to register in the service
  </p>
</ng-container>

<ng-container *ngIf="secondStep && !success">
  <p class="description">
    Remaining time:
  </p>
  <countdown #cd [config]="cdConfig" (event)="cdEvent($event)"></countdown>
</ng-container>

<form (ngSubmit)="send(loginform)" #loginform="ngForm" aria-labelledby="login-title">
  <!-- -------------- First Step ------------- -->
  <ng-container *ngIf="!secondStep">
    <div class="form-control-group">
      <label>Username</label>
      <input autocomplete="off"
             [(ngModel)]="userLogin.email"
             #email="ngModel"
             name="email"
             type="email"
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
             [required]="true"
             [attr.aria-invalid]="email.invalid && email.touched ? true : null">
      <ng-container *ngIf="email.invalid && email.touched">
        <p class="error-message" *ngIf="email.errors?.required">
          Email is required!
        </p>
        <p class="error-message" *ngIf="email.errors?.pattern">
          Email is invalid
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label>Password</label>
      <input [(ngModel)]="userLogin.password"
             #password="ngModel"
             name="password"
             type="password"
             [required]="true"
             [attr.aria-invalid]="password.invalid && password.touched ? true : null">
      <ng-container *ngIf="password.invalid && password.touched ">
        <p class="error-message" *ngIf="password.errors?.required">
          Password is required!
        </p>
      </ng-container>
    </div>

    <div class="forgot-link">
      <a href="#">Forgot your password?</a>
    </div>

  </ng-container>
  <!-- -------------- END First Step ------------- -->


  <!-- -------------- Second Step ------------- -->
  <ng-container *ngIf="secondStep && !success && !expired">
    <div class="form-control-group">
      <input autocomplete="off"
             [(ngModel)]="userLogin.secret"
             type="number"
             #secret="ngModel"
             name="secret"
             placeholder="enter secret code"
             pattern="^[5-5][0-9]*$"
             [required]="true" autofocus
             [attr.aria-invalid]="secret.invalid && secret.touched ? true : null">
      <ng-container *ngIf="secret.invalid && secret.touched">
        <p class="error-message" *ngIf="secret.errors?.required">
          Secret number is required!
        </p>
        <p class="error-message" *ngIf="secret.errors?.pattern">
          Number is invalid
        </p>
      </ng-container>
    </div>
  </ng-container>
  <!-- -------------- END Second Step ------------- -->


  <!-- -------------- Error Wrap ------------- -->
  <ng-container *ngIf="error">
    <p class="error-message center">{{error.message}}</p>
  </ng-container>
  <!-- -------------- END Error Wrap  ------------- -->

  <!-- -------------- Success Wrap ------------- -->
  <ng-container *ngIf="success">
    <p class="error-message success center">Congrats you are verified!</p>
  </ng-container>
  <!-- -------------- END Success Wrap  ------------- -->

  <!-- -------------- Buttons Wrap ------------- -->
  <div class="send-btn-container" *ngIf="!expired && !success">
    <button [disabled]="!loginform.valid"
            class="custom-btn custom-btn-primary-filled">
      {{secondStep ? 'Send' : 'Log in'}}
    </button>
  </div>
  <!-- -------------- END Buttons Wrap ------------- -->

  <app-spinner *ngIf="spinner"></app-spinner>
</form>
