@import '../../../variables';
@import '../../../mixins';


.description {
  text-align: center;
  margin: 1.3em 0;
  font-size: 1.2em;
  letter-spacing: .03em;
  line-height: 1.2em;
}

form {
  padding: 0 3.5rem;
  position: relative;
}

.form-control-group {

  & + .form-control-group {
    margin-top: 2rem;
  }

  label {
    display: block;
    text-transform: uppercase;
    color: $main-six-color;
    margin-bottom: .7em;
    font-family: $font-family-second;
    font-size: 1.2em;
    letter-spacing: 0.06em;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    color: $main-six-color;
    font-family: $font-family;
  }
}

.forgot-link {
  text-align: right;
  margin-top: .5rem;

  a {
    color: $main-second-color;
    transition: $transition-base;
    font-size: 1.2em;
    letter-spacing: .03em;

    &:hover {
      cursor: pointer;
      color: $main-second-color-dark;
    }
  }
}

.error-message {
  color: rgba(red, .7);

  &.center {
    margin: 1rem 0 -1rem 0;
    text-align: center;
  }

  &.success {
    color: $main-fifth-color;
    font-size: 1.5em;
    margin: 4em 0;
  }
}

.send-btn-container {
  margin-top: 2.5rem;
}

.custom-btn {
  width: 100%;
  border: none;
  @include button;

  &.custom-btn-primary-filled {
    @include button-filled;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

app-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

countdown {
  display: block;
  margin-bottom: 3rem;
  text-align: center;

  & ::ng-deep {
    .item,
    .dots {
      font-size: 2em;
      font-weight: 500;
      color: $font-color-inverse;
    }
    .dots {
      margin: 0 .5rem;
    }
    .item {
      background: #252637;
      padding: .5em .5em;
      border-radius: 5px;
      text-shadow: 0 2px 4px rgba(0,0,0,.85);
    }
  }
}
