<section class="main-container">
  <div class="top-wrapper">
    <div class="logo-image">
      <img src="../../../assets/images/logo.png" alt="Logo">
    </div>
    <div class="logo-text">
      <h1>Fakename</h1>
    </div>
  </div>

  <ul class="tabs">
    <li [ngClass]="{'active': activeTab === 'signup'}"><a (click)="setTab('signup')">Signup</a></li><li
    [ngClass]="{'active': activeTab === 'login'}"><a (click)="setTab('login')">Log in</a></li>
  </ul>

  <div class="tabs-content">
    <ng-container *ngIf="activeTab === 'signup'">
      <p class="label">Under construction</p>
    </ng-container>
    <ng-container *ngIf="activeTab === 'login'">
      <app-login></app-login>
    </ng-container>
  </div>
</section>

<div class="bg-login">
  <div class="bottom-bg"></div>
</div>


