@import '../../../variables';

:host {
  padding-top: 40px;
  height: 100vh;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: $main-first-color-dark;
  box-shadow: 0 10px 39px rgba(0,0,0,.7);
  border-radius: 10px;
  min-width: 400px;
  box-sizing: border-box;
}

.top-wrapper {
  text-align: center;
  padding: 1.4rem 0 .8rem 0;
}

.logo-image,
.logo-text {
  display: inline-block;
  vertical-align: middle;
}

.logo-image {
  img {
    max-width: 60px;
  }
}

.logo-text {
  margin-left: .6rem;

  h1 {
    text-transform: uppercase;
    color: $main-six-color;
    text-shadow: 0 2px 4px rgba(0,0,0,.85);
    font-weight: 400;
    letter-spacing: 0.035em;
  }
}


.tabs {
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(255,255,255,.1);

  li {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    position: relative;

    a {
      display: block;
      text-align: center;
      text-transform: uppercase;
      padding: 1.2em 0;
      font-size: 1.3em;
      color: $main-third-color;
      transition: $transition-base;
      letter-spacing: .06em;
      font-family: $font-family-second;

      &:hover {
        cursor: pointer;
        color: $font-color-inverse;
      }
    }

    &:last-child a {
      border-left: 1px solid rgba(255,255,255,.1);
    }

    &.active {
      a {
        color: $main-six-color;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 20%;
        height: 4px;
        background: $main-fifth-color;
        width: 60%;
      }
    }
  }
}

.tabs-content {
  padding-bottom: 3rem;
}

.bg-login {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70%;
  width: 100%;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background: $main-fifth-color;
    border-radius: 50%;
    position: absolute;
    left: 32%;
    top: 34%;
  }

  .bottom-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-bottom: 70vh solid $main-second-color;
    border-left: 100vw solid transparent;
  }
}

.label {
  text-align: center;
  font-size: 1.3em;
  margin: 3em 0;
  color: #fff;
  text-transform: uppercase;
}
