@import '../../../variables';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header {
  width: 100%;
  background: $main-four-color;
  padding: 1rem 0;
}

.dots {
  margin-left: 1.5rem;

  span {
    line-height: normal;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: .5rem;
    border-radius: 50%;
    background: $body-bg;
  }
}
